# Secrets
.env
*.env
Backend/credentials.json
Backend/token.json

# Python junk
__pycache__/
*.py[cod]

# Virtualenvs
.venv/
venv/
.vercel

.DS_Store
        STS_Testing.py
        backend/.DS_Store
        inv_20260109_015502.json
        test.py
        testing/