# Secrets
.env
*.env
Backend/credentials.json
Backend/token.json

# Python junk
__pycache__/
*.py[cod]

# Virtualenvs
.venv/
venv/
.vercel

.DS_Store
backend/.DS_Store

# Local scratch files
STS_Testing.py
test.py
inv_*.json
testing/
